@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */


@font-face {
  font-family: 'Unbounded';
  src: url('./assets/static/Unbounded-Bold.ttf');
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background: url('../src/assets/Card/bg.png');
 
  background-size: cover;
  font-family: "Roboto", sans-serif;
  background-repeat: no-repeat;
}

/* Header  */


.header-inputbox {
  border: 1px solid  rgba(255, 255, 255, 0.28);
  background-color: rgba(242, 244, 248, 0.13);
  padding-left: 17px;
  padding-right: 380px;
}
.about-inputbox {
  border: 1px solid  rgba(255, 255, 255, 0.28);
  background-color: rgba(242, 244, 248, 0.13);
  padding-left: 17px;
  padding-right: 380px;
}
.blur-button {
  border: 1px solid  rgba(255, 255, 255, 0.28);
  background-color: rgba(242, 244, 248, 0.13);
}
 
.country-button {
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.28);
  font-weight: 500;
  transition: all ease 0.5s;
}
.country-button:hover {
  background-color: #040635;
}
.login-signup-button {
  border: 2px solid rgba(255, 255, 255, 0.28);
  background-color: rgba(255, 255, 255, 0.477);
  font-weight: 500;
  transition: all ease 0.5s;
}
.login-signup-button:hover {
  background-color: #040635;
}
 input::placeholder {
  color: rgba(255, 255, 255, 0.877);
}

/* Main */

.home {
 
  display: grid;
  grid-template-columns: 1.4fr 1fr;
}
.game-slider-home {
  background-color: rgba(255, 255, 255, 0.14);
  border: 2px solid rgba(255, 255, 255, 0.21);
  display: grid;
  grid-template-columns: repeat(8,1fr) 0.5fr;
  justify-content: center;
  align-items: center;
}

.game-slider-box {
  border: 2px solid  rgba(255, 255, 255, 0);
  cursor: pointer;
}
.game-slider-home .game-slider-box:hover {
  border: 2px solid rgb(255, 255, 255) ;
}


/* GameCard */

.game-card {
  border: 1px solid rgba(255, 255, 255, 0.28);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} 

.offer-menu {
  border: 2px solid rgba(255, 255, 255, 0.28);
  background-color: rgba(255, 255, 255, 0.368);
  position: absolute;
  top: 10px;
  right: 21px;
  backdrop-filter: blur(5px);
  transition: all ease 0.5s;
  cursor: pointer;
}
.offer-menu:hover {
  background-color: rgba(255, 255, 255, 0.715);
  color: #040635;
}
/* AffiliateSection */

.affiliate-section {
  border: 1px solid rgba(255, 255, 255, 0.28);
  background-color: rgba(255, 255, 255, 0.174);
  backdrop-filter: blur(5px);
}
.seller-button {
  background-color: rgba(0, 122, 255, 1);
  transition: all ease 0.5s;
}
.seller-button:hover {
  background-color: #040635;
}


/* Collections */

.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(4,75px);
 
}
 
.main-child {
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
  background: url('./assets/MainCardImages/collection-bg.png');
  border-radius: 14px;
  background-size: cover;
  border: 1px solid rgba(255, 255, 255, 0.189);
} 
 

/* Experience */

.experience-join-button {
  border: 2px solid rgba(255, 255, 255, 0.28);
  background-color: rgba(255, 255, 255, 0.368);
}

/* Footer */

.footer {
  background: url('./assets/Images/footerbg.png');
  background-size: cover;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.footer-section {
  border-bottom: 1px solid rgba(255, 255, 255, 0.214);
}



/* Category Section Two */

.toggle-container {
  width: 40px;
  height: 20px;
  background-color: #ccc;
  border-radius: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 2px;
  transition: background-color 0.3s ease;
}

.toggle-container.on {
  background-color: #040635; /* Green when ON */
}

.toggle-container.off {
  background-color: #ccc; /* Gray when OFF */
}

.toggle-button {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.toggle-container.on .toggle-button {
  transform: translateX(20px); /* Move to the right */
}

.toggle-container.off .toggle-button {
  transform: translateX(0); /* Move to the left */
}

.category-slider {
  display: grid;
  grid-template-columns: repeat(4,1fr);
}


/* Heaser Modal */

.modal-main {
  border: 1px solid rgba(255, 255, 255, 0.28);
  background-color:#02022adc;
  backdrop-filter: blur(5px);
  border-radius: 26px;
  color: white;
}
.modal-contents {
  display: grid;
  grid-template-columns: 1fr 1.6fr;
}



















@media(max-width:991px){
  .home {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}



@media(max-width:745px){
  .footer-logo-head {
    border-bottom: 1px solid rgba(255, 255, 255, 0.214);
    width: 100%;
    text-align: center;
  }
  .game-slider-home {
    display: none;
  }

}


@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px); /* Adjust the distance */
  }
  100% {
    transform: translateX(0);
  }
}

.animate-move {
  animation: moveRight 0.3s ease-in-out; /* Duration and easing */
}



/* About Page */

/* GameCardOne */

.offer-box {
  border: 2px solid rgba(255, 255, 255, 0.28);
  background-color: rgba(255, 255, 255, 0.368);
  border-radius: 1000px;
}

/* GameSectionTwo */

.top-up-section {
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.game-offer-button {
  background-color: rgba(255, 255, 255, 0.174);
  backdrop-filter: blur(5px);
}
.top-up-box {
  border: 2px solid rgba(255, 255, 255, 0.389);
  
  background: linear-gradient(to top right, rgba(0, 0, 0, 0.23) 0%, rgba(32, 38, 154, 1) 100%);

}


/* GameSectionThree */

.about-coc {
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.49) 100%);

}


/* CategorySectionOne */

.category-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.category-section-one {
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.49) 100%);
  border: 1px solid rgba(255, 255, 255, 0.671) ;
}
.category-section-two {
  border: 1px solid rgba(255, 255, 255, 0.671);
  background: linear-gradient(to top right, rgba(0, 0, 0, 0.23) 0%, rgba(32, 38, 154, 1) 100%);
}
.line {
  border-bottom: 1px solid rgb(255, 255, 255) ;
  width: 100%;
  height: 1px;
}
.outline-section {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 90px;
}
.counter {
  border: 2px solid rgba(255, 255, 255, 0.671);
}
.buy-now-button {
  background-color: rgba(88, 91, 242, 1);
  transition: all ease 0.5s;
}
.buy-now-button:hover {
  background-color: rgb(5, 7, 152);
}

.header-modal-section {
  display: grid;
  grid-template-columns: 1.2fr 1.6fr;
}

/* Profile */


.profile-main {
  display: grid;
  grid-template-rows: 1fr         3fr;
}
.profile-section {
  background-color: rgba(255, 255, 255, 0.975);
 
    background-size: cover;
    border: 2px solid rgba(139, 139, 139, 0.138);
}



@media(max-width:691px){
  .profile-main {
    display: none;
  }
  /* .card-img {
    height: 80px;
  } */
  .top-up-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 19px;
  }
  .outline-section {
    grid-template-columns: 1fr;
    width: 100%;
    gap: 15px;
  }
  .category-section {
    grid-template-columns: 1fr;
  }
  .category-slider {
    grid-template-columns: 1fr;
  }
}


@media(max-width:1350px){
  .header-inputbox {
    padding-right: 310px;
  }
}
@media(max-width:1240px){
  .header-inputbox {
    padding-right: 240px;
  }
}
@media(max-width:1186px){
  .header-inputbox {
    padding-right: 190px;
  }
}
@media(max-width:1100px){
  .header-inputbox {
    padding-right: 170px;
  }
}
@media(max-width:1088px){
  .header-inputbox {
    padding-right: 130px;
  }
}
@media(max-width:1065px){
  .header-inputbox {
    padding-right: 100px;
  }
}
@media(max-width:991px){
  .header-inputbox {
     width: 100%;
    
  }
}